In [ ]:
# https://medium.com/coinmonks/how-to-get-historical-crypto-currency-data-954062d40d2d

In [12]:
# import sys
# sys.path.append('/anaconda3/envs/crypto/lib/python3.6/site-packages/')

In [275]:
import bitfinex
import pandas as pd
import matplotlib as plt
import datetime
import time
%matplotlib inline
import pickle
import datetime
from datetime import timedelta

In [22]:
api_v2 = bitfinex.bitfinex_v2.api_v2()
# the result will be the last 1000 data
result = api_v2.candles()

No keys, only access to public API functions

In [23]:
# Creating dataframe with columns
names = ['time', 'open', 'close', 'high', 'low', 'volume']
df = pd.DataFrame(result,columns=names)
df['time'] = pd.to_datetime(df['time'], unit='ms')
df.set_index('time', inplace=True)
df.sort_index(inplace=True)
df.head()

In [108]:
# Save and Load
pd.to_pickle(df,'dataframe_bitcoin')
df = pd.read_pickle('dataframe_bitcoin')

In [56]:
# Check the list of what we can get 
api_v1 = bitfinex.bitfinex_v1.api_v1()
pairs = api_v1.symbols()
print(len(pairs))
pairs[:5]

No keys, only access to public API functions
343

['btcusd', 'ltcusd', 'ltcbtc', 'ethusd', 'ethbtc']

In [318]:
# Define the start date
t_start = datetime.datetime(2018, 4, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000
# Define the end date
t_stop = datetime.datetime(2018, 4, 2, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

# Automation for Creating the file for Database

In [306]:
#### names = ['time', 'open', 'close', 'high', 'low', 'volume']
t_start = datetime.datetime(2014, 1, 1, 0, 0) #starting from 1st January
t_start = time.mktime(t_start.timetuple()) * 1000
t_end = datetime.datetime(2014, 1, 2, 0, 0) #starting from 1st January
t_end = time.mktime(t_end.timetuple()) * 1000
result = api_v2.candles(symbol='btcusd', interval='1m',  limit=1000, start=t_start, end=t_end)
print(t_start,t_end)
df = pd.DataFrame(result,columns=names)

1388530800000.0 1388617200000.0

In [307]:
def append_and_save(dataframe):
    for i in range(5):
        try:
            dataframe = pd.read_pickle('dataframe_bitcoin')
        except:
            pass
        print(dataframe.shape)
        x = dataframe['time'].max()
        y = x + 24*60*60*1000
        result_temp = api_v2.candles(symbol='btcusd', interval='1m',  limit=1000, start=x, end=y)
        df_temp = pd.DataFrame(result_temp,columns=names)
        dataframe = dataframe.append(df_temp)
        pd.to_pickle(dataframe,'dataframe_bitcoin')
        time.sleep(2)

In [319]:
append_and_save(df)

(10507, 6)
(11507, 6)
(12507, 6)
(13446, 6)
(14407, 6)

### Checks

In [315]:
dfgg = pd.read_pickle('dataframe_bitcoin')
dfgg['time'].nunique()

10506

In [316]:
dfgg['time'] = pd.to_datetime(df['time'], unit='ms')

In [317]:
dfgg.head()

                 time      open     close      high       low    volume
0 2014-01-01 23:00:00  754.0000  754.0000  754.0000  754.0000  0.552828
1 2014-01-01 22:59:00  751.8001  751.8001  751.8001  751.8001  0.400000
2 2014-01-01 22:58:00  753.9000  753.0100  753.9000  753.0100  5.100000
3 2014-01-01 22:56:00  753.9000  753.9000  753.9000  753.9000  0.220000
4 2014-01-01 22:55:00  753.9500  754.0000  754.0000  753.9500  5.000000